p, h2, button {
	font-family: 'Exo 2';
}

#mainSection {
	min-height: 610px;
	background: #00A383;
}

#secondSection {
	min-height: 610px;
	background: #00A383;
}

#thirdSection {
	min-height: 610px;
	background: #00A383;
}
.imageWrp img{
	height: 200px;
}

.imageWrp {
	padding: 10px;
	height: 220px;
	width: 220px;
	border-radius: 110px;
	background: #A64100;
	border: 3px solid #5ED1BA;
	margin-top: 5%;
}

.wrapperTest {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: left;
}

#wrpTest {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.wrapperTest {
	color: #fff;
}


.wrapperTest h2 {
	margin-top: 15px;
}

.questionsWrp p {
	font-size: 18px;
	font-weight: 500;
}

.questionsWrp h2 {
	background: #006A55;
	padding: 7px;
	border-radius: 6px;
}

.wrapperTest a {
	text-decoration: none;
    outline: none;
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
    border: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}


.wrapperTest a:hover {
  background: #FFAA73;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  text-decoration: none;

}

#fourthAnsw {
	display: none;
}

.wrapperTest p {
	max-width: 700px;
	margin-top: 20px;
}

.wrpInput {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.wrpInput input {
	margin-right: 20px;
	width: 32px;
	height: 32px;
}

.wrpNumber span {
	color: #006A55;
}

.wrpNumber label {
	font-size: 26px;
}

.questionsWrp hr{
 margin: 0;
 background: #006A55;
}

.wrpInput {
	margin-top: 15px;
	margin-bottom: 5px;
	max-width: 80%;
}


.answer {
	display: none;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}